<form [formGroup]="form" class="sale-form">
  <div class="row mb-3">
    <div class="col-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Баркод</mat-label>
        <input matInput [(ngModel)]="barcodeInput" [ngModelOptions]="{standalone: true}" (keyup.enter)="onBarcodeEnter()" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Клиент</mat-label>
        <input type="text" matInput formControlName="client" [matAutocomplete]="autoClient">
        <mat-autocomplete #autoClient="matAutocomplete">
          <mat-option *ngFor="let client of filteredClients$ | async" [value]="client.name">
            {{ client.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Вид плащане</mat-label>
        <mat-select formControlName="paymentType">
          <mat-option *ngFor="let type of paymentTypes" [value]="type.value">
            {{ type.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-1">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Валута</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <h3>Стоки</h3>
  <div formArrayName="items">
    <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="row align-items-end mb-2">
      <div class="col-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Продукт</mat-label>
          <input #productInput matInput formControlName="product" [matAutocomplete]="autoProduct">
          <button mat-icon-button *ngIf="item.get('product')?.value" matSuffix tabindex="-1" (click)="item.get('product')?.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayWithProduct">
            <mat-option *ngFor="let product of (filteredProducts[i] | async) ?? []" [value]="product.code">
              {{ product.name }} ({{ product.code }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Количество</mat-label>
          <input matInput type="number" formControlName="quantity" min="1">
        </mat-form-field>
      </div>
      <div class="col-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Мерна ед.</mat-label>
          <input matInput formControlName="unit" readonly>
        </mat-form-field>
      </div>
      <div class="col-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Цена без ДДС</mat-label>
          <input matInput type="text" readonly [value]="item.get('priceWithoutVat')?.value | currencyBgn">
        </mat-form-field>
      </div>
      <div class="col-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>ДДС %</mat-label>
          <input matInput type="number" formControlName="vatPercent" readonly>
        </mat-form-field>
      </div>
      <div class="col-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Цена с ДДС</mat-label>
          <input matInput type="text" formControlName="priceWithVat" readonly [value]="item.get('priceWithVat')?.value | currencyBgn"></mat-form-field>
      </div>
      <div class="col-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Общо</mat-label>
          <input matInput type="text" formControlName="total" readonly [value]="item.get('total')?.value | currencyBgn">
        </mat-form-field>
      </div>
      <div class="col-1 d-flex" style="height: 56px;">
        <button mat-icon-button color="warn" (click)="removeItem(i)" *ngIf="items.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" type="button" (click)="addItem()" style="margin-top: 10px;">
    <mat-icon>add</mat-icon> Добави ред
  </button>

  <div class="summary">
    <div>Общо без ДДС: <b>{{ totalWithoutVat | currencyBgn }}</b></div>
    <div>ДДС: <b>{{ totalVat | currencyBgn }}</b></div>
    <div>Общо с ДДС: <b>{{ totalWithVat | currencyBgn }}</b></div>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" type="button" (click)="save()">Запази</button>
    <button mat-raised-button color="accent" type="button" (click)="pay()">Плащане</button>
    <button mat-raised-button color="warn" type="button" (click)="print()">Печат</button>
  </div>
</form>
